<div style="border-top:2px solid #512563;box-shadow:0 1px 3px #AAAAAA;line-height:180%;padding:0 15px 12px;width:500px;margin:50px auto;font-size:12px;">  
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        你在 <a style="text-decoration:none;color: #512563;" href="<%=siteUrl%>" target="_blank">
            <%=siteName%>
            </a>上的留言有了新的回复
    </h2> 
    ⭐<%=pname%> 同学，你曾发表留言：
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <div style="background-color: #f5f5f5;padding: 4px 15px;margin:18px 0;word-wrap:break-word;">
            <%-ptext%>
        </div>
        <p><strong><%=name%></strong>回复你的留言，说：</p>
        <div style="background-color: #f5f5f5;padding: 4px 15px;margin:18px 0;word-wrap:break-word;">
            <%-text%>
        </div>
        <p>点击<a style="text-decoration:none; color:#512563" href="<%=url%>" target="_blank">查看完整內容</a>，感谢您再次访问 <a style="text-decoration:none; color:#512563" 
            href="<%=siteUrl%>" target="_blank"><%=siteName%></a>。
            <br>
            本邮件为系统自动发送。如该留言并非您所发表，请回复此邮件退订。
        </p>  
    </div>  
</div>